@model MobilePhoneStoreDBMS.Models.ViewModel
@{
	ViewBag.Title = "ProductsOfSearch";
	Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="wrap">
	<div class="content" style="width: 950px; float: left;">
		<div class="content-grids">
			<h2 class="for_h2" style="padding-left: 10px;">Kết quả tìm kiếm '@ViewBag.search'</h2>
			@foreach (var items in Model.productsOfSearch)
			{
				<div class="grid_1_of_4 images_1_of_4 products-info">
					<a href="@Url.Action("Details" , "HomeScreen", new { id = items.ProductID })">
						<img src="@items.Image" />
						@items.Name
					</a>
					<h3>@items.Price &nbsp;đ</h3>
					<ul>
						<li><a class="cart" href="#"> </a></li>
						<li><a class="i" href="@Url.Action("Details", "HomeScreen", new { id = items.ProductID })"> </a></li>
						<li><a class="Wishlist" href="#"> </a></li>
					</ul>
				</div>
			}
		</div>
	</div>
	<div class="content-sidebar">
		<h2 class="for_h2">Hãng sản xuất</h2>
		<ul>
			<li><a href="@Url.Action("Store", "HomeScreen")">Tất cả</a></li>
			@foreach (var items in Model.allProducers)
			{
				<li><a href="@Url.Action("Producer", "HomeScreen", new { id = items.ProducerID })">@items.Name</a></li>
			}
		</ul>
	</div>
</div>
<div class="clear"></div>