c
@model MobilePhoneStoreDBMS.Models.ViewModel
@{
	ViewBag.Title = "Store";
	Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="wrap">
	<div class="content" style="width: 950px; float: left;">
		<div class="content-grids">
			<h2 class="for_h2" style="padding-left: 10px;">Products are available at the store</h2>
			@foreach (var items in Model.allProducts)
			{
				<div class="grid_1_of_4 images_1_of_4 products-info">
					<a href="@Url.Action("Details" , "HomeScreen", new { id = items.ProductID })">
						<img src="/api/AvatarOfProduct/GetAvatarOfProduct?ProductId= @items.ProductID" style="height: 196px; object-fit: cover;"  />
						@items.Name
					</a>
					<h3>@items.Price &nbsp;đ</h3>
					<ul>
						<li><a class="cart" href="/ShoppingCart/AddtoCart/@items.ProductID"> </a></li>
						<li><a class="i" href="@Url.Action("Details", "HomeScreen", new { id = items.ProductID })"> </a></li>
					</ul>
				</div>
			}
		</div>
	</div>
	<div class="content-sidebar">
		<h2 class="for_h2">Producer</h2>
		<ul>
			<li><a href="@Url.Action("Store", "HomeScreen")">All</a></li>
			@foreach (var items in Model.allProducers)
			{
				<li><a href="@Url.Action("Producer", "HomeScreen", new { id = items.ProducerID })">@items.Name</a></li>
			}
		</ul>
	</div>
</div>
<div class="clear"></div>