@model IEnumerable<MobilePhoneStoreDBMS.Models.Entities.Cart>
@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th style="font-size: 25px">Product Name </th>
                <th style="font-size: 25px">Image</th>
                <th style="font-size: 25px">Price</th>
                <th style="font-size: 25px">Quantity</th>
                <th style="font-size: 25px">Sum</th>
            </tr>
        </thead>
        @{
            double t = 0;
        }
        <tbody>
            @foreach (var item in Model)
            {
                double total = Convert.ToDouble(Convert.ToDouble(item.Product.Price) * Convert.ToDouble(item.amount));
                t += total;

                <tr style="font-size:25px; color: black">
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        <img src="/api/AvatarOfProduct/GetAvatarOfProduct?productID=@item.ProductID" style="width: 200px; height:200px; object-fit: cover;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item.ProductID" name="ID_Product" />
                            <input type="number" value="@item.amount" min="1" name="quantity" style="font-size: 25px" />
                            <input type="submit" value="Cập nhật số lượng" style="font-size: 25px" />
                        }
                    </td>
                    <td style="font-size:25px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Total: @total

                    </td>
                    <td>
                        <a href="/ShoppingCart/RemoveCart/@item.ProductID" style="font-size: 25px;color: red">&nbsp; &nbsp;&nbsp;Xóa khỏi giỏ hàng</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td  colspan="5" style="text-align: right; font-size: 25px"><br />Tổng tiền giỏ hàng: @t</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right; font-size: 25px"><br /> <a href="@Url.Action("RemoveAllCart", "ShoppingCart")"> Đặt hàng</a> </td>
            </tr>
            
        </tfoot>
    </table>
    <a href="@Url.Action("Index", "HomeScreen")"><h1 style="font-size: 25px; color: red">Về trang sản phẩm</h1></a>
    
}

